html {
  font-family: 'San Francisco', 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, CustomFont, 'Microsoft YaHei UI', 'Microsoft YaHei', 'PingFang SC', 'Hiragino Sans GB', 'Hiragino Sans GB W3', 'WenQuanYi Micro Hei', sans-serif;
  font-size: 62.5%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent
}
body {
  position: fixed;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.5rem;
  line-height: 1.6;
  width: 100%;
  height: 100%;
  min-width: 320px;
  margin: 0;
  color: #fff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden
}
header,
footer,
main {
  display: block
}
audio,
progress {
  display: inline-block;
  vertical-align: baseline
}
audio:not([controls]) {
  display: none;
  height: 0
}
:before,
:after {
  box-sizing: border-box
}
[hidden],
template {
  display: none
}
a,
a:before,
a:after {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
  transition: all .2s ease-in-out
}
a:active,
a:hover,
a:focus {
  color: rgba(255, 255, 255, .5);
  outline: 0;
  text-decoration: underline
}
p {
  display: block;
  margin: 0;
  word-wrap: break-word;
  white-space: pre-wrap
}
img {
  max-width: 100%;
  border: 0;
  -webkit-touch-callout: none
}
svg:not(:root) {
  overflow: hidden
}
ul,
ol {
  margin: 0;
  padding: 0
}
ul {
  list-style: none
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px
}
::-webkit-scrollbar-track-piece {
  background-color: transparent
}
::-webkit-scrollbar-thumb {
  border: 0;
  border-radius: 5px
}
::-webkit-scrollbar-thumb:vertical:hover,
::-webkit-scrollbar-thumb:horizontal:hover {
  background-color: rgba(255, 255, 255, .3)
}
::-webkit-scrollbar-thumb:vertical {
  background-color: rgba(255, 255, 255, .2)
}
::-webkit-scrollbar-thumb:horizontal {
  background-color: rgba(255, 255, 255, .2)
}
.loading {
  position: absolute;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background: rgba(0, 0, 0, .35)
}
.loading__over {
  z-index: 0;
  opacity: 0
}
.bgimg {
  position: absolute;
  top: -5%;
  left: -5%;
  width: 110%;
  height: 110%;
  background-color: #888;
  background-image: url("/img/music-c513f7.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: blur(35px);
  -moz-filter: blur(35px);
  -ms-filter: blur(35px);
  filter: blur(35px)
}
.bgimg .mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5)
}
.music {
  position: relative;
  z-index: 2;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden
}
.music-cover {
  margin-right: 5rem;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1
}
.music__radio {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  text-align: center;
  margin: 1rem auto 0;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 1.4rem;
  cursor: pointer;
  color: rgba(255, 255, 255, .5);
  opacity: 0;
  transition: color .2s ease-in-out, opacity .2s ease-in-out
}
@media screen and (max-width:640px) {
  .music {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 90%
  }
  .music-cover {
    margin-right: 0
  }
  .music__radio {
    margin: 0 auto
  }
}
.music__radio__on {
  opacity: 1
}
.music__radio i {
  position: relative;
  width: 1.8rem;
  height: 1.5rem;
  border: 2px solid rgba(255, 255, 255, .5);
  border-bottom: 0;
  border-radius: 1.5rem 1.5rem 0 0;
  box-sizing: border-box;
  transition: border-color .2s ease-in-out
}
.music__radio i:before,
.music__radio i:after {
  position: absolute;
  bottom: 0;
  content: "";
  width: 0;
  height: 0;
  border: 3px solid rgba(255, 255, 255, .5);
  border-radius: 50%;
  transition: border-color .2s ease-in-out
}
.music__radio i:before {
  left: 0;
  border-right-width: 0;
  border-radius: 0 2px 2px 0
}
.music__radio i:after {
  left: auto;
  right: 0;
  border-right-width: 0;
  border-radius: 2px 0 0 2px
}
.music__radio span {
  margin-left: 1rem
}
.music__radio:hover,
.music__radio:hover i,
.music__radio:hover i:before,
.music__radio:hover i:after,
.music__radio:active,
.music__radio:active i,
.music__radio:active i:before,
.music__radio:active i:after {
  color: #fff;
  border-color: #fff
}
.music__pic {
  width: 25rem;
  height: 25rem;
  margin: 1rem auto 0;
  opacity: 1;
  transition: opacity .3s ease-in-out, -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out, opacity .3s ease-in-out;
  transition: transform .3s ease-in-out, opacity .3s ease-in-out, -webkit-transform .3s ease-in-out
}
.music__pic img {
  width: 100%;
  height: 100%;
  border: .8rem solid rgba(0, 0, 0, .1);
  box-sizing: border-box
}
.music__control {
  margin: 0 .7rem
}
.music__control .time {
  font-size: 1.2rem;
  text-align: right;
  margin-top: 2rem;
  color: rgba(255, 255, 255, .5)
}
.music__control .progress {
  position: relative;
  height: 4px;
  margin-top: 1rem;
  background: rgba(255, 255, 255, .15);
  border-radius: 3px;
  cursor: pointer
}
.music__control .progress span {
  position: absolute;
  width: 0;
  height: 100%;
  min-width: 0;
  max-width: 100%;
  padding-left: 8px;
  display: block;
  background: #009688;
  border-radius: 3px;
  box-sizing: border-box;
  transition: width .2s ease-in-out
}
.music__control .progress span i {
  position: absolute;
  top: -2px;
  right: 0;
  width: 8px;
  height: 8px;
  background: #5ECEC3;
  border-radius: 50%
}
.music__control .progress .loaded {
  z-index: 1;
  background: rgba(255, 255, 255, .5)
}
.music__control .progress .played {
  z-index: 2
}
.music__control .menu {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 3rem
}
.music__btn {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1
}
.music__btn .btn {
  position: relative;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
  transition: border .2s ease-in-out
}
.music__btn .btn i {
  width: 0;
  height: 0;
  margin: auto auto auto 1.1rem;
  border-style: solid;
  border-width: .6rem .8rem .6rem 0;
  border-color: transparent rgba(255, 255, 255, .5);
  transition: border .2s ease-in-out
}
.music__btn .btn i:before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: .8rem;
  width: 0;
  height: 0;
  margin: auto;
  border: solid rgba(255, 255, 255, .5);
  border-width: 1rem 2px 0 0;
  transition: border .2s ease-in, margin .2s ease-in
}
.music__btn .next i {
  margin: auto 1.1rem auto auto;
  border-width: .6rem 0 .6rem .8rem
}
.music__btn .next i:before {
  left: auto;
  right: .7rem
}
.music__btn .play,
.music__btn .pause {
  width: 3.6rem;
  height: 3.6rem
}
.music__btn .play {
  border-color: #fff
}
.music__btn .play i {
  margin-left: 1.2rem;
  border-width: .6rem 0 .6rem 1rem;
  border-color: transparent #fff
}
.music__btn .play i:before {
  margin-left: .4rem;
  opacity: 0;
  border-color: transparent
}
.music__btn .pause i {
  margin-left: 1.2rem;
  border-width: 1.2rem 4px 0 0;
  border-color: rgba(255, 255, 255, .5)
}
.music__btn .pause i:before {
  margin-left: 1rem;
  border-width: 1.2rem 4px 0 0
}
.music__btn .btn:hover,
.music__btn .btn:hover i:before,
.music__btn .btn:active,
.music__btn .btn:active i:before {
  border-color: #fff
}
.music__btn .btn:hover i,
.music__btn .btn:active i {
  border-color: transparent #fff
}
.music__btn .pause:hover i,
.music__btn .pause:active i {
  border-color: #fff
}
.music__menu__more {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end
}
.music__menu__more .voice {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  overflow: hidden
}
.music__menu__more .voice .mute {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: background .2s ease-in-out
}
.music__menu__more .voice .mute span {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 5px;
  height: 1.5rem;
  margin-right: 2px;
  background: rgba(255, 255, 255, .5);
  -webkit-transform: translateY(40%);
  -ms-transform: translateY(40%);
  transform: translateY(40%);
  transition: background .2s ease-in-out
}
.music__menu__more .voice .mute:hover span,
.music__menu__more .voice .mute:active span {
  background: #fff
}
.music__menu__more .voice .mute span:nth-child(1) {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0)
}
.music__menu__more .voice .mute span:nth-child(3) {
  -webkit-transform: translateY(10%);
  -ms-transform: translateY(10%);
  transform: translateY(10%)
}
.music__menu__more .voice .mute-on span:nth-child(1) {
  -webkit-animation: aniHeight 1s .25s infinite;
  animation: aniHeight 1s .25s infinite
}
.music__menu__more .voice .mute-on span:nth-child(2) {
  -webkit-animation: aniHeight 1s .5s infinite;
  animation: aniHeight 1s .5s infinite
}
.music__menu__more .voice .mute-on span:nth-child(3) {
  -webkit-animation: aniHeight 1s .75s infinite;
  animation: aniHeight 1s .75s infinite
}
.music__menu__more .voice .mute-off:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 0;
  border: 2px solid #de4d4d;
  transform: rotateZ(25deg) translateY(3px);
}
.music__menu__more .voice .mute-off span {
  -webkit-animation: none;
  animation: none !important;
}
@-webkit-keyframes aniHeight {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
  50% {
    -webkit-transform: translateY(45%);
    transform: translateY(45%)
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
}
@keyframes aniHeight {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
  50% {
    -webkit-transform: translateY(45%);
    transform: translateY(45%)
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
}
.music__menu__more .voice .volume {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 5rem;
  height: 1.5rem;
  margin-right: 2px;
  background: rgba(255, 255, 255, .5);
  cursor: pointer;
  -webkit-transform: translateX(8rem);
  -ms-transform: translateX(8rem);
  transform: translateX(8rem);
  transition: all .5s ease-out
}
@media screen and (max-width:640px) {
  .music__control .menu {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    height: 5rem
  }
  .music__btn {
    margin-left: 3.5rem
  }
  .music__menu__more {
    margin-right: 3.5rem
  }
  .music__menu__more .voice .volume {
    display: none
  }
}
.music__menu__more .voice .volume span {
  display: block;
  width: 45%;
  height: 100%;
  min-width: 0;
  max-width: 100%;
  background: #009688
}
.music__menu__more .voice .mute:hover span,
.music__menu__more .voice .mute:active span {
  background: #fff
}
.music__menu__more .voice:hover .volume,
.music__menu__more .voice:active .volume {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0)
}
.music__menu__more .showlist {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 1rem;
  border-top: 3px solid rgba(255, 255, 255, .5);
  box-sizing: border-box;
  cursor: pointer;
  transition: border .2s ease-in-out
}
.music__menu__more .showlist:before,
.music__menu__more .showlist:after {
  position: absolute;
  left: 0;
  top: 30%;
  content: "";
  width: 60%;
  height: 0;
  border-top: 3px solid rgba(255, 255, 255, .5);
  transition: border .2s ease-in-out
}
.music__menu__more .showlist:after {
  top: auto;
  bottom: 0;
  width: 30%
}
.music__menu__more .showlist span {
  transition: border .2s ease-in-out
}
.music__menu__more .showlist span:nth-child(1) {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 2px;
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 50%
}
.music__menu__more .showlist span:nth-child(2) {
  position: absolute;
  right: 0;
  bottom: 6px;
  height: 40%;
  border-right: 2px solid rgba(255, 255, 255, .5)
}
.music__menu__more .showlist span:nth-child(3) {
  position: absolute;
  right: -4px;
  bottom: 60%;
  width: 25%;
  height: 0;
  border-top: 2px solid rgba(255, 255, 255, .5);
  -webkit-transform: rotateZ(45deg);
  -ms-transform: rotate(45deg);
  transform: rotateZ(45deg)
}
.music__menu__more .showlist:hover,
.music__menu__more .showlist:hover:before,
.music__menu__more .showlist:hover:after,
.music__menu__more .showlist:hover span,
.music__menu__more .showlist:active,
.music__menu__more .showlist:active:before,
.music__menu__more .showlist:active:after,
.music__menu__more .showlist:active span {
  border-color: #fff
}
.music-viewport {
  position: relative;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1
}
@media screen and (max-width:640px) {
  .music-viewport {
    position: absolute;
    top: 3rem;
    left: 0;
    width: 100%;
    height: 25rem;
    -webkit-transform: translateX(150%);
    -ms-transform: translateX(150%);
    transform: translateX(150%);
    opacity: 0;
    transition: opacity .3s ease-in-out, -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out, opacity .3s ease-in-out;
    transition: transform .3s ease-in-out, opacity .3s ease-in-out, -webkit-transform .3s ease-in-out
  }
}
.music-viewport .view {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity .3s ease-in-out, -webkit-transform .3s ease-in-out;
  transition: opacity .3s ease-in-out, transform .3s ease-in-out;
  transition: opacity .3s ease-in-out, transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%)
}
.music-viewport .view__active {
  opacity: 1;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0)
}
.music-viewport .view__hide {
  opacity: 0;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%)
}
.music-viewport .view__list ul {
  position: absolute;
  width: 100%;
  top: 5rem;
  bottom: 0;
  margin: auto;
  box-sizing: border-box;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch
}
.music-viewport .view__list li {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  color: rgba(255, 255, 255, .5);
  cursor: pointer
}
.music-viewport .view__list li .name,
.music-viewport .view__list li .singer {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden
}
.music-viewport .view__list li .name {
  -webkit-flex: 4;
  -ms-flex: 4;
  flex: 4
}
.music-viewport .view__list li .singer {
  -webkit-flex: 1.5;
  -ms-flex: 1.5;
  flex: 1.5;
  margin: 0 1.5rem
}
.music-viewport .view__list li .time {
  -webkit-flex: .5;
  -ms-flex: .5;
  flex: .5
}
.music-viewport .view__list li:hover,
.music-viewport .view__list li:active {
  color: rgba(255, 255, 255, .8);
  background: rgba(0, 0, 0, .2)
}
.music-viewport .view__list .playing,
.music-viewport .view__list .playing:hover,
.music-viewport .view__list .playing:active {
  color: #009688;
  background: rgba(0, 0, 0, .2)
}
.music-viewport .view__list .title,
.music-viewport .view__detail .title {
  font-size: 2.2rem;
  font-weight: 300;
  height: 4rem;
  padding: 0 1rem;
  margin: 0 0 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, .1);
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}
.music-viewport .view__list .title small,
.music-viewport .view__detail .title small {
  color: rgba(255, 255, 255, .5)
}
.music-viewport .view__detail .info {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  color: rgba(255, 255, 255, .5)
}
.music-viewport .view__detail .info span {
  display: inline-block;
  margin-right: 1rem;
  max-width: 20rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden
}
.music-viewport .view__detail .info i {
  color: #fff;
  font-style: normal
}
.music-viewport .view__detail .lyric {
  position: absolute;
  bottom: 0;
  top: 10rem;
  left: 0;
  width: 100%;
  font-size: 1.5rem;
  line-height: 3;
  padding: 1rem;
  box-sizing: border-box;
  overflow-x: hidden;
  -webkit-overflow-scrolling: none
}
@media screen and (max-width:800px) {
  .music-viewport .view__detail .info,
  .music-viewport .view__detail .info span {
    display: block;
    max-width: 100%
  }
  .music-viewport .view__detail .lyric {
    top: 11rem
  }
}
@media screen and (max-width:640px) {
  .music-viewport .view__list .title,
  .music-viewport .view__detail .title,
  .music-viewport .view__detail .info,
  .music-viewport .view__detail .lyric {
    text-align: center
  }
  .music__trans__left {
    -webkit-transform: translateX(-150%);
    -ms-transform: translateX(-150%);
    transform: translateX(-150%);
    opacity: 0
  }
  .music__trans__none {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    opacity: 1
  }
}
.music-viewport .view__detail .lyric__inner {
  -webkit-transform: translateY(10rem);
  -ms-transform: translateY(10rem);
  transform: translateY(10rem)
}
.music-viewport .view__detail .lyric__inner p {
  line-height: 1.4;
  padding: 1rem 0;
  transition: color .2s ease-in-out;
  box-sizing: border-box;
  text-shadow: 0 0 1px rgba(0, 0, 0, .2)
}
.music-viewport .view__detail .lyric__inner .active {
  color: #01AD9D
}
.music-viewport .view__detail .lyric__inner .prev {
  color: rgba(255, 255, 255, .5)
}
.music-viewport .view__radios {
  position: absolute;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch
}
.music-viewport .view__radios li {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  width: 50%;
  padding: 1rem;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer
}
.music-viewport .view__radios li:before,
.music-viewport .view__radios li:after {
  position: absolute;
  z-index: 2;
  content: "";
  width: 0;
  height: 0;
  opacity: 0;
  transition: opacity .2s ease-in-out, border-color .2s ease-in-out
}
.music-viewport .view__radios li:before {
  right: 2.2rem;
  bottom: 2.2rem;
  padding: 1.2rem;
  border: 2px solid transparent;
  border-radius: 50%
}
.music-viewport .view__radios li:after {
  right: 3.1rem;
  bottom: 3rem;
  border-style: solid;
  border-width: .5rem 0 .5rem .9rem;
  border-color: transparent
}
.music-viewport .view__radios li img {
  display: block;
  width: 100%;
  height: 100%
}
.music-viewport .view__radios li p {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: absolute;
  top: 1rem;
  right: 1rem;
  bottom: 1rem;
  left: 1rem;
  font-size: 2rem;
  color: #fff;
  background-color: rgba(0, 0, 0, .35);
  text-shadow: 1px 1px rgba(0, 0, 0, .5);
  transition: background .2s ease-in-out
}
.music-viewport .view__radios li:hover:before,
.music-viewport .view__radios li:active:before {
  opacity: 1;
  border-color: #fff
}
.music-viewport .view__radios li:hover:after,
.music-viewport .view__radios li:active:after {
  opacity: 1;
  border-color: transparent #fff
}
.music-viewport .view__radios li:hover p,
.music-viewport .view__radios li:active p {
  background-color: rgba(0, 0, 0, .2)
}
@media screen and (max-width:640px) {
  .music-viewport .view__radios li {
    width: 33.333%
  }
  .music-viewport .view__radios li p {
    font-size: 1.5rem
  }
}
@media screen and (max-width:425px) {
  .music-viewport .view__radios li {
    width: 50%
  }
}
.music-viewport .view__radios .playing p {
  background-color: transparent
}
.music-viewport .view__radios .playing p:before,
.music-viewport .view__radios .playing p:after {
  position: absolute;
  z-index: 2;
  content: "";
  right: 2rem;
  bottom: 2rem;
  width: .5rem;
  height: 3rem;
  background: #fff;
  -webkit-transform: rotateZ(45deg);
  -ms-transform: rotate(45deg);
  transform: rotateZ(45deg)
}
.music-viewport .view__radios .playing p:before {
  height: 1.5rem;
  right: 3.5rem;
  -webkit-transform: rotateZ(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotateZ(-45deg)
}
.music-viewport .view__radios .playing:hover:before,
.music-viewport .view__radios .playing:hover:after,
.music-viewport .view__radios .playing:active:before,
.music-viewport .view__radios .playing:active:after {
  display: none
}
.footer {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  font-size: 1.2rem;
  color: rgba(255, 255, 255, .25)
}
@media screen and (max-width:800px) {
  .footer {
    left: 1rem;
    text-align: center
  }
}
